.App {
  font-family: sans-serif;
  text-align: center;
}
table{
  border: 1px solid black;
}
td{
  border: 2px solid black;
  padding: 10px;
}
th{
  border: 2px solid black;
  padding: 10px;
}
.main{
  min-height: 100px;
width: 90%;
margin: 20% auto;
display: grid;
grid-template-columns: 400px 700px;
}
body{
  background-color: greenyellow;
}
label{
  margin-right: 20px;
  padding: 20px;
  font-weight: bolder;
}
input{
  display: grid;
  padding: 7px;
  background-color: lightblue;
  border-radius: 10px;
  margin: 10px;
}
#btn1{
  background-color:red;
  color: black;
  font-weight:bolder;
  border: 2px solid black;
} 
select{
 border-radius:  10px;
 padding: 10px;
 background-color:lightblue;
}
table{
  padding: 20px;

}
